<app-header></app-header>
<br>
    <div class="add-entity mt-5">
        <mat-card class="container" style="background-color:rgb(15, 5, 58)">
            <!--card for adding new entity starts-->
            <mat-card-header style="margin-left:200px">
                <!--mat card header starts-->
                <mat-card-title class="card-title">
                    <!--title starts-->
                    <h5> Add a new Entity </h5>
                </mat-card-title>
                <!--title ends-->
            </mat-card-header>
            <!--mat card header ends-->

            <mat-divider></mat-divider>
            <!--divider line-->

            <mat-card-content>
                <!--taking inputs to add entity starts-->


                <!-- For Category drop down -->
                <div class="form-group">
                    <label class="control-label" for="Category">Category:</label>
                    <select required *ngIf="getCategory()" [(ngModel)]="selectedCategory"
                        (change)="onSelectCategory($event.target.value)" class="form-control input-lg" id="category">
                        <option value="0">Select Category</option>
                        <option *ngFor="let category of getCategory()" value={{category.id}}>{{category.name}}</option>
                    </select>
                </div>

                <!-- For Sub-category drop down -->
                <div class="form-group">
                    <label class="control-label" for="Sub-category">Sub-category:</label>
                    <select *ngIf="subCategory" [(ngModel)]="selectedSubCategory"
                        (change)="onSelectSubCategory($event.target.value)" class="form-control input-lg" id="subCat">
                        <option value="0">Select Sub-category</option>
                        <option *ngFor="let subCat of subCategory" value={{subCat.id}}>{{subCat.name}}</option>
                    </select>
                </div>
                <!-- For brand drop down -->
                <div class="form-group">
                    <label class="control-label" for="Brand">Brand:</label>
                    <select class="form-control input-lg" id="brand" [(ngModel)]="selectedBrand">
                        <option value="0">Select brand</option>
                        <option *ngFor="let brand of brands" value={{brand.id}}>{{brand.name}}</option>
                    </select>
                </div>
<!-- for entity title -->
                <div class="form-group"> 
                    <label for="entity-title" class="control-label">Entity Title</label>
                    <input required [(ngModel)]="entityTitle" class="form-control" placeholder="Please provide an entity title">
                    </div>

                <!-- <form> -->
                <!--form starts-->

                <table style="width: 100%" cellspacing="20">
                    <!--table starts-->     
                    
                    <!-- This code is for entity title -->
                    <!-- <tr>
                        <td>
                            <div class="form-group">
                                <mat-form-field floatLabel="auto" class="mat-form-full-width">
                                    <mat-label>Entity title</mat-label>
                                    <input matInput required [(ngModel)]="entityTitle">
                                    <mat-hint>Please write the entity title</mat-hint>
                                </mat-form-field>
                                
                            </div>
                            
                        </td>
                    </tr> -->
                    <tr>
                        <td>
                            <div class="form-group">
                                <mat-form-field floatLabel="auto" class="mat-form-full-width">
                                    <!--Entity description starts-->
                                    <label>Entity Descrption</label>
                                    <textarea matInput [(ngModel)]="entityDescription" cols="30" rows="8"
                                        required></textarea>
                                    <mat-hint>Please describe about the entity</mat-hint>
                                </mat-form-field>
                                <!--Entity description ends-->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <!-- <div class="container"> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">
                                                Browse… <input type="file" id="imgInp">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                    <img id='img-upload' />
                                </div>
                            </div>
                            <!-- </div> -->
                        </td>
                    </tr>
                    <!-- Checking -->

                    <!-- checking end -->

                </table>
                <!--table ends-->

                <!-- </form> -->
                <!--form ends -->

            </mat-card-content>
            <!--taking inputs to add entity ends-->
            <mat-card-actions>
                <button color="primary" mat-flat-button  (click)="saveEntity()"
                    routerLinkActive="router-link-active">Submit</button>
            </mat-card-actions>
        </mat-card>
        <!--card for adding new entity ends-->
    </div>
<br>                        
<app-footer></app-footer>