
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt>
        <img src="../../assets/img-01.png" alt="IMG">
      </div>

      <div>
        <div class="login100-form validate-form">
          <span class="login100-form-title">
            Member Login
          </span>

          <form [formGroup]="loginForm" autocomplete="off">
            <label>Email</label>
            <input class="form-control" formControlName="emailId">
            <div class="mb-2" *ngIf="submitted1 && loginForm.controls.emailId?.errors" class="formError">
              <div *ngIf="loginForm.controls.emailId?.errors.required">Please enter Email Id
              </div>
            </div>

            <label class="mt-2">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div class="mb-2" *ngIf="submitted1 && loginForm.controls.password?.errors" class="formError">
              <div *ngIf="loginForm.controls.password?.errors.required">Please enter Password
              </div>
            </div>
          </form>

          <div class="row">
            <div class="mt-2">
              <mat-checkbox>Remember Me</mat-checkbox>
            </div>
          </div>

          <div class="row justify-content-center" >
            <button (click)="login()" style="width: 40%; background-color: #007bff; padding: 2%"
              class="btn btn-primary mt-3" >Login</button>
          </div>

          <div class="row justify-content-center" >
            <button (click)="signInWithGoogle()" style="width: 60%; background-color: #007bff; padding: 2%"
              class="btn btn-primary mt-3" >Login With Google</button>
          </div>
          <br>

          <div class="text-center p-t-12">
            <span class="txt1">
              Forgot
            </span>
            <a class="txt2" href="#">
              Email Id / Password?
            </a>
          </div>

          <div class="text-center p-t-136">
            <a class="txt2" (click)="changeLoginStatus()">
              Create your Account
              <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>