<app-header [isUserLoggedIn]='isUserLoggedIn'></app-header>
<div class="container-fluid">
<div class="row mt-5">
  <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" style="height: 650px" src="../../assets/images/535521cd09f1e0a8920ed5019ca09c51.jpg"
          alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="height: 650px" src="../../assets/images/73ad7f4bb9da1bfd8fb04ed22f073307.jpg"
          alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" style="height: 650px" src="../../assets/images/f9855049304b8c4e9debe158a74e5ae8.jpg"
          alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>

<hr />
<div class="container-fluid">
  <div class="col">
    <div class="row">
        <h4 class="col">Recent Entity</h4>
    </div>
    <div class="row">
      <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
          <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
            <mdb-card class="my-1">
              <mdb-card-img [src]="card.img"  (click)="selectedEntity(card.title)" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                  <h4>{{card.title}}</h4>
                </mdb-card-title>
                <p>{{card.description}}</p>
                <ngb-rating [rate]="card.rate"></ngb-rating><br>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="col">
    <div class="row">
      <div class="col">
        <h4>Recommended Entity</h4>
      </div>
    </div>
    <!-- <div class="row">
      <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <mdb-carousel-item *ngFor="let item of slides; let i = index">
          <div class="col-md-3" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
            *ngFor="let card of item; let cardIndex = index">
            <mdb-card class="my-1">
              <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
              <mdb-card-body>
                <mdb-card-title>
                <h4>{{card.title}}</h4>
                </mdb-card-title>
                <p>{{card.description}}</p>
                <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
                <hr>
              </mdb-card-body>
            </mdb-card>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div> -->
    <app-recommendation-card-component></app-recommendation-card-component>
  </div>
</div>
<hr>
<app-footer></app-footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>